
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #060152;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-top: #acacac dotted 1px;
}
.bottom2{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #eb9950;
  margin-top: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.social__icon-link{
  color: #fff;
  font-size: 24px;
}
.social__icon-link2{
  color: #060152;
  font-size: 24px;
}
.social__icon-link:hover,
.social__icon-link2:hover{
  transform: scale(1.15);
  transition: all 0.15s ease-in-out;
}
.social__icons,
.social__icons2{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 240px;
}

.website__rights{
  display: flex;
  align-items: center;
  height: 30px;
  justify-content: center;
  color: #fff;
  font-size: 17px;
}
.website__rights2{
  display: flex;
  align-items: center;
  height: 30px;
  justify-content: center;
  color: #060152;
  font-size: 17px;
}
.dot {
  height: 18px;
  width: 18px;
  margin-right: 4px;
  border: #fff solid 2px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bolder;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dot2 {
  font-size: 14px;
  font-weight: bolder;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #060152 solid 2px;
}
#footer__logo{
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
}
#footer__logo2{
  color: #060152;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
}
