
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #060152;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-top: #fff dotted 1px;
}

.social__icon-link{
  color: #fff;
  font-size: 24px;
}
.social__icon-link:hover{
  transform: scale(1.15);
  transition: all 0.15s ease-in-out;
}
.social__icons{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 240px;
}

.website__rights{
  color: #fff;
  font-size: 17px;
}
.dot {
  height: 11px;
  width: 11px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}

