
*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
  background-image:url(images/hh.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #eb9950;
  height: 665px;
  background-position: 100%;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}
header ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 1000px;
  margin-left: -30px;
}
header ul li{
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
header ul li a{
  color: #060152;
  text-decoration: none;
  font-size: 18px;
  height: 35px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
header ul li a:hover{
  border: #060152 solid 1px;
  background-color:#fff;
  transform: scale(1.075);
}
.active{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 40px;
  width: 100px;
  font-size: 18px;
  font-weight: bold;
  color: #060152;
  outline: none;
  margin-left: 20px;
}
.btn1{
  white-space: nowrap;
  height: 40px;
  width: 100px;
  background-color: #fff;
  border:#060152 solid 1px;
  cursor: pointer;
  position: relative;
}
.btn1 a:hover,
.btn1:hover{
  transition: all 0.2s ease-in-out;
  color: #fff;
}
.btn1::after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 1px;
  background: #060152;
  transition: all 0.2s  ease-in-out;
}
.btn1:hover:after{
  width: 100%;
}
.btn1 a{
  padding-left: 6px;
  padding-right: 6px;
  font-size: 20px;
  font-weight: bold;
  color: #060152;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  position: relative;
  z-index: 1000;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.direct{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50%);
  padding: 30px;
  font-size: 20px;
  font-weight: bold;
  color: #060152;
}
.direct button{
  height: 40px;
  background-color: #fff;
  color: #060152;
  cursor: pointer;
  font-size: 16px;
  width: 120px;
  font-weight: bold;
  border: #060152 solid 1px;
  border-radius: 2px;
}
.direct button:hover{
  background-color: #060152;
  color: #fff;
  transition: 0.2s all ease-in-out;
}
.direct button:hover:active{
  opacity: 0.4;
}

  /* marque */
.marquee{
  background-color: #060152;
  color: #fff;
  position: fixed;
  bottom: 60px;
  left: 0;
  right: 0;
  height: 40px;
  border-top: 1px solid #595959;
}
marquee{
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

  /* drop down */
    .view{
      background-color: #060152;
      display: flex;
      flex-direction: column;
      width: 100%;
      position: fixed;
      justify-content: space-evenly;
      align-items: center;
      right: 0;
      left: 0;
      top: 0;
      z-index: 5000;
      height: 33vh;
      padding-bottom: 20px;
      margin-left: -100%;
    }
    .view  div{
      display: flex;
      height: 30px;
      width: 90%;
      color: #fff;
      font-size: 30px;
      font-weight: bolder;
      align-items: center;
      justify-content: flex-end;
    }
    .view span{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 30px;
    }
    .view span:hover{
      cursor: pointer;
      color: #b2ffe9;
    }
    .view li{
      display: flex;
      list-style: none;
      height: 35px;
      width: 80%;
      align-items: center;
      justify-content: center;
    }
    .view li a{
      display: flex;
      text-decoration: none;
      height: 35px;
      width: 100%;
      color: #fff;
      font-size: 18px;
      font-weight: bolder;
      align-items: center;
      justify-content: center;
    }
    .view li a:hover{
      background-color: #fff;
      transition: ease-in-out all 0.15s;
      color: #060152;
    }


.blink{
  animation: blink 0.6s linear infinite;
  animation-iteration-count: 100;
  font-size: 20px;
  color: #02001b;
  position: fixed;
  top:22%;
  left: 0;
  right: 0;
  transform: translate(-50% -50%);
  white-space: nowrap; 
  font-weight: bold;
  filter: brightness(2.5);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}
  @keyframes blink {
                  0%  {opacity: 0; transition: all 0.5s ease-in-out;}
              }

  #pope{
    display: none;
  }


              /* media query */

 @media only screen and (max-width:640px) {
  marquee{
    font-size: 14px;
  }
  .marquee{
    height: 35px;
    width: 100%;
    bottom: 51px;
  }
  #footer__logo i{
    font-size: 14px;
  }
  #dot{
    height: 12px;
    width: 12px;
    font-size: 10px;
    border-width: 1px;
    margin: 0 2px 0 2px;
  }
  #web-rights{
    font-size: 12px;
    white-space: nowrap;
    margin-left: 2px;
  }
  .social__icon-link i{
      font-size: 14px;
      margin-bottom: 10px;
  }
  #bottom{
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  body{
    background-image:url(images/hh.jpg);
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    max-width: 640px;
  }
  #blink{
    color: #02001b;
  }
  .direct{
    white-space: nowrap;
    color: #ffff;
  }
  .direct button{
    background-color: #b2ffe9;
  }
  header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  header ul{
    display: none;
  }
  #pope{
    display: contents;
    font-size: 30px;
    cursor: pointer;
  }
  header i:hover{
    color: #f5f5f5;
  }
 }

 @media only screen and (min-width:641px) and (max-width:840px){
  marquee{
    font-size: 16px;
  }
  .marquee{
    height: 35px;
    width: 100%;
    bottom: 51px;
  }
  #footer__logo i{
    font-size: 16px;
  }
  #dot{
    height: 14px;
    width: 14px;
    font-size: 10px;
    border-width: 1.5px;
    margin: 0 4px 0 4px;
  }
  #web-rights{
    font-size: 13px;
    white-space: nowrap;
    margin-left: 2px;
  }
  .social__icon-link i{
      font-size: 16px;
      margin-bottom: 8px;
  }
  #bottom{
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
 }