*{
  margin: 0px;
  padding: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
body{
  background-image:url(images/pexels-photo-533975.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #eb9950;
}
header{
  height: 100px;
}
ul{
  list-style-type: none;
  font-size: 17px;
  margin-left: 10px;
}

ul li{
  display: inline-block;
}
ul li a{
  font-weight: bold;
  text-decoration: none;
  color: #060152;
  padding: 5px 20px;
  border: 1px solid transparent;
}
ul li a:hover{
  background-color: #fff;
  color: #000;
  transition: 0.2s ease;
}

ul li.active a{
 background-color: #fff;
  color:  #060152;
}


.main{
  max-width: 1200px;
  margin: auto;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 10000;
}

.title{
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title h1{
  color: #0c0666;
  font-size: 70px;
}

.button{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.btn{
  border: 1px solid #0c0666;
  padding: 5px 20px;
  color: #0c0666;
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
  margin-right: 5px;
}
.btn:hover{
  transition: 0.2s ease;
  background-color: #fff;
  color: #0c0666;
}
.sub-menu{
  height: 240px;
  background-color: #060152;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 60px;
  right: -50px;
  width: 200px;
  margin-top: -500px;
}

.sub-menu ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sub-menu ul li{
  margin-top: 11px;
}
.sub-menu ul li a{
  color: white;
}
.sub-menu ul li a:hover{
  color: #000;
  transition: 0.2s ease;
}

.locations{
  margin-right: 20px;
  position: relative;
}

#drop-down{
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
#drop-down a{
  height: 32px;
  width: 100px;
  text-decoration: none;
  color: white;
  padding: 3px;
  margin-top: 3px;
  font-size: 18px;
  font-weight: bold;
  color: #0c0666;
}

#drop-down a:hover{
  background-color: white;
  color: black; 
  transition: 0.2s ease;
}
#close i{
  display: none;
  color: #0c0666;
  cursor: pointer;
  font-size: 25px;
}
.home{
  display: none;
}


.register{
  position: absolute;
  top: 64%;
  left: 50%;
  width: 900px;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reg-container{
  background-color: #080255;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  padding: 16px;
  border-radius: 5px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}


.list-one{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #080255;
  position: absolute;
  right: 10px;
  top: 7%;
  height: 50vh;
  width: 210px;
  z-index: 20000;
}
.list-one li{
  margin: 12px;
}
.list-one li a{
  color: #fff;
}


/* media query */

@media only screen and (max-width:1089px) {
      .home{
        display: contents;
      }
      #nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      .list-two{
        display: none;
      }
      .active{
        display: contents;
      }
}



@media  screen and (max-width:479px){
  body{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.title h1{
    font-size: 20px;
  }
  .btn{
  padding: 5px 6px;
  color: #0c0666;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  margin-right: 4px;
}
.reg-container{
  transform: scale(0.65);
  width:450px;
}
}

@media only screen and (min-width:480px) and (max-width:720px){
  .title h1{
    font-size: 40px;
  }
  .btn{
  padding: 5px 10px;
  color: #0c0666;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px;
}
.reg-container{
  transform: scale(0.81);
}
body{
 position: fixed;
 top: 0;
bottom: 0;
right: 0;
left: 0;
}
} 

@media only screen and (min-width:720px) and (max-width:900px){
  .title h1{
    font-size: 60px;
  }
  .reg-container{
  transform: scale(0.95);
}
body{
 position: fixed;
 top: 0;
bottom: 0;
right: 0;
left: 0;
}
}
